body {
    text-align: center;
    padding: 30px;
    font-family: segoe ui;
    background-color: rgba(171, 202, 99, 0.781);
    background-image: url(../img/old-woman-desert.jpeg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color:rgb(247, 225, 128);
    font-size: 50px;
}

.submit {   
    background-color: #f7dd6b;
}

h2 {
    color: rgb(255, 255, 255);  
}

.resp {
    color: rgb(223, 47, 47);
    text-shadow: 3px 2px 1.5px rgb(0, 0, 0);
}

@media (max-width: 769px) {

    
}
