body {  
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 30px;
    font-family: segoe ui;
    background-color: rgba(171, 202, 99, 0.781);
    background-image: url(../img/old-woman-desert.jpeg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color:rgb(247, 225, 128);
    font-size: 50px;
}


h2 {
    color: rgb(58, 44, 32);  
}

/*------- Classes -------*/

.submit {   
    background-color: #f7dd6b;
}

.resp {
    color: rgb(223, 47, 47);
    text-shadow: 3px 2px 1.5px rgb(0, 0, 0);
}

/*--- Let's Get Responsive! ---*/

@media (min-width: 600px) {
    p {
        font-size: 20px;
        line-height: 0.4rem;
    }
}

@media (min-width)