body {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    font-family: segoe ui;
    background-color: rgb(228, 223, 152);
    background-image: url(../img/camels.jpeg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #ff3333;
    font-size: 50px;
}

p {
    font-family: segoe ui;
}

/*------- Classes -------*/

.bio {
    text-align: center;
}

.button1 {
    color: rgb(192, 175, 24);    
}

/*--- Let's Get Responsive! ---*/

@media (max-width: 769px) {
    p {
        font-size: 20px;
        line-height: 40px;
    }
}
